/* $Id: $ */

/*
** HTML elements
*/

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #ececec;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #cf1313;
}
a:visited {
  color: #cf1313;
}
a:hover {
  color: #cf1313;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #456800;
}
input, select, textarea {
  background-color: #ffffff;
}
input[type="submit"]  {
  cursor: pointer;
  background-color: transparent;
}
input[type="submit"]:hover  {
  font-weight: bold;
}
pre {
  background-color: transparent;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
#themebody table {
  border-collapse: separate;
/* make <td> sizes relative to body size! */
  font-size: 1em;
  border: 0;
}

table tr th {
border: none;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}

.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*Width*/

#header, #header-navlist, #content, #footer, #footer-navlist, #forum table {
  width: 100%;
}
.header-navlist {
  width: 100%;
}

#sidebar-left, #sidebar-right {
  width: 274px;
}
#sidebar-left input, #sidebar-right input {
  width: 200px;
}
#sidebar-left .title, #sidebar-right .title {
  width: 264px;
}
#sidebar-left .block, #sidebar-right .block {
  width: 264px;
  background-image: url(images/sidebar-block-bottom.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.block-user ul {
  display: block;
  
}
#sidebar-left #block-user-3 ul li, #sidebar-right #block-user-3 ul li {
  list-style: none;
  margin: 0;
  padding: 0 5px 0 35px;
  line-height: 30px;
  background-image: url(images/user.png);
  background-position: center left;
  background-repeat: no-repeat; 
}
.left-col, .right-col {
  min-width: 50px;
  width: 50px;
  border: 0;
  padding: 0;
  margin: 0;
}
/*Colors*/


/*
** Page layout blocks / IDs
*/

#header {
  background-color: transparent;
  margin: 0;
}
#header-search {
  float: right;
  padding: 10px;
}

.header-navlist {
  padding-left: 10px;
}
 
#header-navlist, #footer-navlist {
  height: 40px;
  border: 0;
  margin: 0;
  background-color: transparent;
  background-image: url(images/header-navlist.png);
  background-repeat: repeat-x;
}
#footer-navlist a{
  font-size: 0.8em;
}
ul.navlinks {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.navlinks li {
  float: left;
  margin: 0;
}
ul.navlinks li a {
  background-color: #edecec;
  background-image: url(images/navlist-button.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 0;
  padding: 0 15px 0 0;
  border: 0;
  height: 37px;
  line-height: 37px;
  float: left;
  min-width: 6em;
  display: block;
  color: #0d2474;
  text-decoration: none;
  text-align: center;
}
ul.navlinks:hover li a {
  background-color: #f3f2f2;
  background-image: url(images/navlist-button-latest-hover.png);
}
ul.navlinks li.last{
  border: 0;
}
ul.navlinks li.last a {
  background-image: url(images/navlist-button-latest.png);
}
ul.navlinks:hover li.last a {
  background-color: #f3f2f2;
  background-image: url(images/navlist-button-latest-hover.png);
}

#search input.form-submit, #sidebar-left input.form-submit, #sidebar-right input.form-submit, #main input.form-submit {
  border: 0;
  height: 29px;
  width: 101px;
  background-image: url(images/button.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 5px;
}
#main input.form-submit {
  width: 165px;
  background-image: url(images/submit.png);
}

#main input[type="text"]  {
  border: 0;
  height: 29px;
  width: 215px;
  background-image: url(images/input.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 5px;
}
#main input#edit-mail {
  border: 0;
  height: 29px;
  width: 190px;
  background-image: url(images/email.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 30px;
}
input[type="submit"]  {
  cursor: pointer;
}
#search input.form-text {
  border: 0;
  height: 29px;
  width: 190px;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 30px;
}

#edit-pass-wrapper input.form-text {
  border: 0;
  height: 29px;
  width: 190px;
  background-image: url(images/password.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 30px;
}

#edit-name-wrapper input.form-text {
  border: 0;
  height: 29px;
  width: 190px;
  background-image: url(images/input.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 30px;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left; /* LTR */
  padding: 0 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em; /* LTR */
  text-align: right; /* LTR */
  vertical-align: middle;
}

ul.navlinks li {
  border-left: 1px solid #808080; /* LTR */
}
ul.navlinks li.first {
  border: none;
}
/*#search .form-text, #search .form-submit {
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}*/

#mission {
  background-color: transparent;
  padding: 1.5em 2em;
  color: #808080;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.right-col {
}
.left-col {
}
.site-name {
  margin: 0.6em 0 0 ;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #808080;
}
.site-name a:hover {
  color: #cf1313;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#content {

}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#maincontent {
  padding: 10px 0;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
  border: 1px solid #fff;
  padding: 5px 10px;
  background-color: #cf1313;
  color: #EBE8E8;
}
.breadcrumb a:link, .breadcrumb a:visited {
  color: #EBE8E8;
}
.breadcrumb a:hover {
  color: #acacac;
}
.messages {
  background: #dfd;
  border: 1px solid #66bc66;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: transparent;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px 5px;
  vertical-align: top;
}
#sidebar-left h2.title, #sidebar-right h2.title {
  background-color: #f6f6f4;
  background-image: url(images/sidebar-title.png);
  background-repeat: no-repeat;
  background-position: middle top;
  margin: 0;
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  color: #808080;
}
#sidebar-left .block .content, #sidebar-right .block .content{
  margin: 0;
  padding: 10px 5px;
  background-color: #EBE8E8;
  border-left: 1px solid #cecfc7;
  border-right: 1px solid #cecfc7;
}



#sidebar-left .block .content li, #sidebar-right .block .content li {
  color: #525252;
}
#footer {
  margin: 0;
  padding: 0;
}
#footer-content {
  font-size: 0.8em;
  padding: 0.5em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #808080;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #808080;
  font-size: 0.8em;
}
.links .last {
  border-left: 1px solid #808080;
}
.links .first {
  border: 0;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0; /* LTR */
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em; /* LTR */
}
.sticky {
  padding: .5em;
  background-color: transparent;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */
}
.node .picture {
  border: 1px solid #ddd;
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right; /* LTR */
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: transparent;
}
#forum td.topics, #forum td.last-reply {
  background-color: transparent;
}
#forum td.container {
  background-color: transparent;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #808080;
}
div.admin-panel .body {
  background-color: transparent;
}
div.admin-panel h3 {
  background-color: #cf1313;
  color: #EBE8E8;
  padding: 5px 8px 5px;
  margin: 0;
}

.promotedlinks {
  float: right;
  
}
